  <div id="wrap">
    <article id="namecard" role="main">
      <ul>
        <li id="email" class="heading"><a href="mailto:{{ site.owner.email }}">
          {% if site.owner.email_with_word_breaks %}{{ site.owner.email_with_word_breaks }}{% else %}{{ site.owner.email }}{% endif %}
        </a></li>
        <li id="keybase" class="elsewhere"><a href="https://keybase.io/erichansander" rel="me">
          <i class="icon fa fa-fw fa-key" title="Keybase: erichansander"></i>
        </a></li>
        <li id="google" class="elsewhere"><a href="https://plus.google.com/+EricHansander" rel="me">
          <i class="icon fa fa-fw fa-google-plus-square fa-lg" title="Google: erichansander"></i>
        </a></li>
        <li id="twitter" class="elsewhere"><a href="https://twitter.com/erichansander" rel="me">
          <i class="icon fa fa-fw fa-twitter fa-lg" title="Twitter: @erichansander"></i>
        </a></li>
        <li id="github" class="elsewhere"><a href="https://github.com/ehdr" rel="me">
          <i class="icon fa fa-fw fa-github fa-lg" title="GitHub: ehdr"></i>
        </a></li>
        <li id="linkedin" class="elsewhere"><a href="https://linkedin.com/in/erichansander" rel="me">
          <i class="icon fa fa-fw fa-linkedin-square fa-lg" title="LinkedIn: Eric Hansander"></i>
        </a></li>
      </ul>
    </article>
  </div>
