* { border: 0; box-sizing: border-box; margin: 0; padding: 0; }
html { overflow-y: scroll; }

body {
  background: #fff;
  color: #3f3f3f;
  font-family: "Avenir Next", Sans-Serif;
  font-size: 130%;
  word-break: break-all;
}

a {
  color: inherit;
  text-decoration: none;
}

#wrap {
  margin: 10% auto auto auto;
  max-height: 320px;
  max-width: 480px;
  padding: 1em 1.5em;
}

li { list-style: none; }
li.elsewhere { float: left; }

.heading {
  font-size: 1.6em;
  line-height: 1em;
}

.elsewhere {
  color: #007f7f;
  margin-top: 1em;
}

@media only screen and (max-aspect-ratio: 1/1) {
  #wrap { margin-top: 30%; }
}

@media only screen and (max-width: 479px) {
  body { font-size: 115%; }
  #email span { display: block; }
}

@media only screen and (max-width: 360px) {
  body { font-size: 100%; }
}
